.top-header {
    position: relative;
    width: 100%;
    background: #222;
    color: var(--text-color);
    height: 40px;
}

.container {
    height: 40px;
    width: calc(100% - 320px);
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}



.top-header .top-header__list-left {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.top-header__item .language-main {
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    display: inline-block;
}

.list-lang::before {
    content: "";
    position: absolute;
    right: 54%;
    top: 50%;
    border: solid transparent;
    pointer-events: none;
    border-top-color: #888;
    border-width: 4.5px;
    margin-top: -5px;
}
.list-lang::after {
    content: "";
    position: absolute;
    right: 12%;
    top: 50%;
    border-color:#888 transparent transparent transparent;
    pointer-events: none;
    border-style: solid;
    border-width: 4.5px;
    margin-top: -5px;
}



.language-main span {
    vertical-align: middle;
    font-size: 1.1rem;
}


.top-header .top-header__list-right {
    position: relative;
    z-index: 2;
    float: right;
    padding: 0 0;
    margin: 0 0;
}



.top-header__img {
    margin-right: 3px;
    vertical-align: middle;
}
.top-header__item{
    position: relative;
    padding: 0 18px 0 0;
    cursor: pointer;
}
.top-header__link {
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 39px;
    text-decoration: none;
}


.top-header__item-right {
    padding: 0px 20px;
    display: table-cell;
    border-left: 1px solid rgba(136, 136, 136, 0.2);
}

.top-header__list-right:last-child {
    border-right: 1px solid rgba(136, 136, 136, 0.2);
}

.top-header__item-right:hover .top-header__name {
    color: var(--primary-color);
}

.top-header .top-header__icon {
    margin-right: 10px;
}


/* Language select */
.language__select {
    top: 100%;
    left: 0px;
    border: none;
    position: absolute;
    z-index: 99999;
    min-width: 100px;
    border: 2px solid #f5f5f5;
    border-top: none;
    font-size: 1rem;
    display: none;
    animation: fadeIn ease-in 0.4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.list-lang {
    height: 40px;
    margin-right: 12px;
}


.language__select::after {
    top: -15px;
    left: 20px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -5px;
    z-index: -1;
}


.list-lang:hover .language__select {
    display: block;
}

.language__option {
    list-style: none;
    padding-left: 0;
    text-align: center;
}


.language__option .language__item:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.language__item {
    padding: 12px 0;
    
}




.language__link{
    color: var(--text-color);
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}
.language__img{

}


/* Currency modal*/

.currency__select {
    top: 100%;
    left: 4px;
    border: none;
    position: absolute;
    z-index: 99999;
    min-width: 80px;
    border: 2px solid #f5f5f5;
    border-top: none;
    font-size: 1rem;
    display: none;
    animation: fadeIn ease-in 0.4s;
}


.currency__select::after {
    top: -15px;
    left: 12px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -5px;
    z-index: -1;
}
.currency__select > .currency__option{
    padding-left: 0;
    list-style: none;
    
}
.currency__item{
    padding: 6px 4px;
}
.currency__link{
    color: var(--text-color);
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}

.currency-switcher:hover .currency__select {
    display: block;
}